@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
:root {
  --background: #d1d1d1;
  --lightContentColour: #c1d8ce;
  --darkContentColour: #004f2e;
  --lightestColour: #ffffff;
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--background);
}
.headerBar {
  background-color: var(--darkContentColour);
  color: var(--lightestColour);
  font-size: large;
  margin: 0;
  padding: 1rem;
  box-shadow: 0 5px 5px grey;
}
.headerBarInlineDisplay {
  display: inline;
}
.container {
  margin-top: 20px;
  background-color: var(--lightContentColour);
  border: 1px solid var(--darkContentColour);
}
.centerContainer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.btn {
  background-color: var(--darkContentColour);
  color: var(--lightestColour);
  border-radius: 20px;
  font-size: medium;
  border: 0;
  cursor: pointer;
}
.footer {
  position: fixed;
  color: var(--darkContentColour);
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.navBtn {
  float: right;
}
.progressBars {
  padding: 2.5%;
}
.progressBorder {
  border: 1px solid var(--darkContentColour);
  width: 90%;
  float: left;
  margin-right: 10px;
}
.progressInner {
  color: var(--lightestColour);
  background-color: var(--darkContentColour);
}
.progressHeader {
  text-align: center;
  font-size: x-large;
}
.pageContainer {
  position: relative;
  min-height: 100vh;
}
.content {
  padding-bottom: 2.5rem;
  overflow: auto;
  width: 100%;
}
.leftContent {
  float: left;
  height: 1200px;
  width: 38%;
  margin-left: 10%;
}
.rightContent {
  float: right;
  height: 50%;
  width: 38%;
  margin-right: 10%;
}
.statsAndGoalsButton {
  font-size: 140%;
  margin: 0 auto;
  display: block;
  margin-bottom: 1%;
  margin-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
}
.loginContainer {
  margin-top: 10%;
  margin-bottom: auto;
  width: 40%;
}
.loginInputs {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-bottom: 1.5%;
}
.loginInputFields {
  width: 100%;
  margin: 1%;
  height: 30px;
  border: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--darkContentColour);
  font-size: larger;
}
.loginButton {
  padding: 3%;
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 0%;
  margin-top: 2%;
  font-size: x-large;
}
.pageContainer {
  position: relative;
  min-height: 100vh;
}

.content {
  padding-bottom: 2.5rem;
  overflow: auto;
  width: 100%;
}

.content2 {
  padding-top: 2.5rem;
  overflow: auto;
  width: 100%;
}

.aside {
  padding-bottom: 2.5rem;
  overflow: auto;
  width: 100%;
}

.ActivityContentBox {
  float: left;
  height: 220px;
  width: 50%;
  margin-left: 5%;
  background-color: #c1d8ce;
  border: 1px solid #004f2e;
}

.TodaysActivityHeader {
  text-align: center;
  font-size: x-large;
  background-color: #004f2e;
}

.ProgressContentBox {
  float: right;
  height: 220px;
  width: 35%;
  margin-right: 5%;
  background-color: #c1d8ce;
  border: 1px solid #004f2e;
}

.NotificationHeader {
  text-align: center;
  font-size: x-large;
  background-color: #004f2e;
}

.Context {
  text-align: left;
}

.Checklist {
  text-align: center;
}

.CurrentContentBox {
  float: left;
  height: 380px;
  width: 50%;
  margin-left: 5%;
  margin-top: 2%;
  background-color: #c1d8ce;
  border: 1px solid #004f2e;
}

.CurrentStatsHeader {
  text-align: center;
  font-size: x-large;
  background-color: #004f2e;
}

.ProgressContent {
  text-align: center;
}

.SuggestionContentBox {
  float: left;
  width: 50%;
  margin-left: 5%;
  background-color: #c1d8ce;
  border: 1px solid #004f2e;
}

.SuggestionHeader {
  text-align: center;
  font-size: x-large;
  background-color: #004f2e;
}

.Button {
  text-align: center;
  border-top: #004f2e;
}

.StatsText {
  width: 95%;
  margin-bottom: 2%;
  text-align: left;
  resize: none;
}
.GoalsInputFields {
  width: 50%;
  margin: 1%;
  height: 20px;
  border: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--darkContentColour);
  font-size: medium;
}
.incorrectMessage {
  color: red;
  text-decoration: underline;
}
.CalendarContentBox {
  float: right;
  height: 380px;
  width: 35%;
  margin-right: 5%;
  margin-top: 2%;
  background-color: #c1d8ce;
  border: 1px solid #004f2e;
}
/*For new calender*/
.calendar {
  width: 100%;
  height: 100%;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 100%;
  background-color: var(--darkContentColour);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  text-align: center;
  color: var(--lightestColour);
}

.month i {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.month h1 {
  font-size: large;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.weekdays {
  width: 100%;
  height: 100%;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: 12.75%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.days div:hover {
  background-color: #262626;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #167e56;
}
