:root {
  --background: #d1d1d1;
  --lightContentColour: #c1d8ce;
  --darkContentColour: #004f2e;
  --lightestColour: #ffffff;
}
* {
  font-family: poppins;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--background);
}
.headerBar {
  background-color: var(--darkContentColour);
  color: var(--lightestColour);
  font-size: large;
  margin: 0;
  padding: 1rem;
  box-shadow: 0 5px 5px grey;
}
.headerBarInlineDisplay {
  display: inline;
}
.container {
  margin-top: 20px;
  background-color: var(--lightContentColour);
  border: 1px solid var(--darkContentColour);
}
.centerContainer {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.btn {
  background-color: var(--darkContentColour);
  color: var(--lightestColour);
  border-radius: 20px;
  font-size: medium;
  border: 0;
  cursor: pointer;
}
.footer {
  color: var(--darkContentColour);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.navBtn {
  float: right;
}
.progressBars {
  padding: 2.5%;
}
.progressBorder {
  border: 1px solid var(--darkContentColour);
  width: 90%;
  float: left;
  margin-right: 10px;
}
.progressInner {
  color: var(--lightestColour);
  background-color: var(--darkContentColour);
}
.progressHeader {
  text-align: center;
  font-size: x-large;
}
.pageContainer {
  position: relative;
  min-height: 100vh;
}
.content {
  padding-bottom: 2.5rem;
  overflow:auto;
  width:100%;
}
.footer{
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.leftContent{
  float:left;
  height:800px;
  width:38%;
  margin-left:10%;
}
.rightContent{
  float:right;
  height:50%;
  width:38%;
  margin-right:10%;
}
.statsAndGoalsButton{
  font-size:140%;
  margin:0 auto;
  display:block;
  margin-bottom:1%;
  padding-left:1%;
  padding-right:1%;
}
.loginContainer{
  margin-top:10%;
  margin-bottom:auto;
  width:40%;
}
.loginInputs{
  margin-left:auto;
  margin-right:auto;
  width:30%;
  padding-bottom: 1.5%;
}
.loginInputFields{
  width:100%;
  margin:1%;
  height:30px;
  border:1px;
  border-width: 1px;
  border-style: solid;
  border-color:  var(--darkContentColour);
}
.loginButton{
  padding:3%;
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 0%;
  margin-top: 2%;
  font-size:x-large;
}
