<tr>
    <div id="TodaysLogContent" >
        <td>
            <div id="ActivityType">
                <!--Forms done with ejs partials-->
                <%- include("selectActivityForm.ejs", activsList) -%>
                <button class="btn">Add Another Activity</button>
                <button class="btn">Save</button>
            </div>
        </td>
        <td>    
            <div id="ActivityDetails">
                <%if(activity.activityType == "SetsAndReps") {%>
                    <%- include("setTable.ejs", {}) %>
                <% } else {%>
                    <%- include("timeDistanceBasedForm.ejs",{}) -%>
                <% } %>
            </div>
        </td>
    </div>
</tr>