<div id="Goals">
    <span>Run for 5km</span><br>
    <span>Eat 686 candy bars in a day</span><br>
    <span>Lose 25 lbs</span><br>
    <span>Achieve a highest single rep squat of 500lb</span><br>
</div>