<div id="HeaderBar" class="headerBar">
    <span id="UsersImage">Hello, <%= username %></span>
    <div id="NavBtn" class="navBtn">
        <button class="btn">Home</button>
        <button class="btn">Log Activity</button>
        <button class="btn">Current Stats</button>
        <button class="btn">Log Out</button>
    </div>
</div>