<div id="HeaderBar" class="headerBar">
    <span id="UsersImage">Hello, <%= username %></span>
    <span hidden id="username" name="username"><%= username %></span>
    <div id="NavBtn" class="navBtn">
        <form action="/home"  method="post" class="headerBarInlineDisplay">
            <button class="btn">Home</button>
        </form>
        <form action="/logActivity" method="post" class="headerBarInlineDisplay">
            <button class="btn">Log Activity</button>
        </form>
        <form action="/currentStats" method="post" class="headerBarInlineDisplay">
            <button class="btn">Current Stats</button>
        </form>
        <form action="/logout" method="post" class="headerBarInlineDisplay">
            <button class="btn">Log Out</button>
        </form>
    </div>
</div>