<div id="Progress">
    <span>Best Run: 1km, Goal: 5km</span> <br>
    <progress value="25" max="100"></progress> 25% <br>
    <span>Most Candy Bars Eaten in a day: 22, Goal:686</span> <br>
    <progress value="3.2" max="100"></progress> 3.2% <br>
    <span>Lose weight: 22lb, Goal:25</span> <br>
    <progress value="88" max="100"></progress> 88% <br>
    <span>Highest Single Rep Squat: 315lb  Goal: 500lb</span> <br>
    <progress value="63" max="100"></progress> 63% <br>
    <br>
</div>