<form action="">
    <select name="Activity" id="SelectActivityDropDown">
        <option value="This is a temp value">Select Activity</option>
        <option value="This is a temp value">Temp2</option>
        <option value="This is a temp value">Temp3</option>
        <option value="This is a temp value">Temp4</option>
    </select>
</form>