<form action="logActivity" method = "post">
    <select name="Activity" id="SelectActivityDropDown" onchange="this.form.submit()">
        <option value="This is a temp value">Select Activity</option>
        <% for (let item of activsList) { %>
            <option value="This is a temp value"><%=item.activityName%></option>
        <%}%>
    </select>
</form>