<div id="SetTable">
    <% for (let detail of activDetailList ) { 
        if(activity._id == detail.activityId) {
        %> <form action="" method="post"> <%
            if(detail.reps == "" || detail.reps == null || detail.reps == 0) {%>
                <input type="text" name="Reps" id="Reps" placeholder= "reps">
                <input type="text" name="Weight" id="Weight" placeholder= "weight">
                <input type="text" name="Units" id="Units" placeholder= "units">
                <br>
            <%} else { %>
                <input type="text" name="Reps" id="Reps" value= <%=detail.reps %>>
                <input type="text" name="Weight" id="Weight" value= <%=detail.weight %>>
                <input type="text" name="Units" id="Units" value= <%=detail.units %>>
                <br> 
            <%}
        %> </form> <%
        } else { %>
            <p> <%= activity._id %> </p>
        <%}
    }%>
</div>