<%  if(statsState === "statsReady")
    { %>
        <form action="/editStats" method="post">
            <div id="StatsContent" style="padding:2.5%">
                <span><%= Stats %></span>
                <button type="submit" id="EditStatsBtn" class="btn btn-primary statsAndGoalsButton">Edit Stats</button>
            </div>
        </form>
    <%}
    else if(statsState === "statsEdit")
    { %>
        <form action="/saveStats" method="post">
            <div id="StatsContent" style="padding:2.5%">
                <textarea class="StatsText" name="textBoxStats"><%= Stats %></textarea>
                <button type="submit" id="EditStatsBtn" class="btn btn-primary statsAndGoalsButton">Save Stats</button>
            </div>
        </form>
    <%}
%>