<form action="" method="post">
    <p>Time: </p>
    <input type="text" name="Min" id="Min" value="Min">
    <input type="text" name ="seconds" id="Seconds" value="Seconds">
    <br>
    <input type="text" name="Distance" id="Distance" value="Distance">
    <select name="Units" id="Units">
        <option value="Meters">Meters</option>
        <option value="Kilometers">Kilometers</option>
        <option value="Yards">Yards</option>
        <option value="Miles">Miles</option>
    </select>
</form>