<% 
    var max = 10;
    var curr = 0;
for (let item of activsList) { 
    if(curr == max){
        break;
    }
    if(item.activityName != "new activity being made"){%>
    <p><%= item.activityName %></p>
<%  curr++;
    }
} %>