<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Css/styles.css">
    <title>Home</title>
</head>

<body>  
    <div class="pageContainer">
        <div class="content">
            <%- include("Partials/headerBar.ejs",{}) -%>
            <br>

            <div class="NotificationContentBox">
                <div class="NotificationHeader">
                    Notifications
                </div>

                <div id="Context">
                    <ul>
                        <li>You need to run 2km today!</li> 
                        <li>You need to eat 25 candy today!</li>
                    </ul>
                </div>
                
                <br>
                <br>
            </div>
            
            <div class="ActivityContentBox">
                <div class="TodaysActivityHeader">                
                    Today's Activity
                </div>

                <div class="Checklist">
                    <br>
                    <div>
                        <input type="textbox" placeholder="Completed Task" size=35%>
                        <input type="checkbox" id="chck">
                    </div>
                    <br>
                    <div>
                        <input type="textbox" placeholder="Uncompleted Task" size=35%>
                        <input type="checkbox" id="chck">
                    </div>
                    <br>
                    <button class="btn">Edit</button>
                </div>            
            </div>

            <div class="CurrentContentBox">
                <div class="CurrentStatsHeader">
                    Current Stats
                </div>
                
                <div class="ProgressContent">
                    <br>
                    <div class="Content1">
                        Best Run: 1km Goal 5km
                    </div>
                    <br>
                    <div class="Content2">
                        Most Candy Bars Eaten in a day: Goal 686
                    </div>
                    <br>
                    <button class="btn">Edit</button>
                </div>
            </div>
            
            <div class="CalendarContentBox">
                <div class="CalendarHeader">
                    December 2021
                </div>

                <div class="CalendarContext"> 
                    <div id="Calendar">
                        
                        <table>
                            <tr class="WeekDays">
                                <th>Sun</th>
                                <th>Mon</th>
                                <th>Tues</th>
                                <th>Wed</th>
                                <th>Thur</th>
                                <th>Fri</th>
                                <th>Sat</th>
                            </tr>

                            <tr class="Days">
                                <th class="PrevMonthDays">
                                    <div class="Date">
                                        <form name = "Calendar" action="logActivity" method="post">
                                            <input type="hidden" name="SelectedDate" value="2021-11-28">
                                        <span onclick="Calendar.submit()" class="clickableSpan">28</span>
                                        </form>
                                    </div>
                                </th>
                                <th class="PrevMonthDays">
                                    <div class="Date">
                                    <form name = "Calendar2" action="logActivity" method="post">
                                        <input type="hidden" name="SelectedDate" value="2021-11-29">
                                    <span onclick="Calendar2.submit()" class="clickableSpan">29</span>
                                    </form>
                                    </div>
                                </th>
                                <th class="PrevMonthDays">
                                    <div class="Date">
                                    <form name = "Calendar3" action="logActivity" method="post">
                                        <input type="hidden" name="SelectedDate" value="2021-11-30">
                                    <span onclick="Calendar3.submit()" class="clickableSpan">30</span>
                                    </form>
                                    </div>
                                </th>
                                <th class="NumDays">
                                    <div class="Date" onclick="">1</div>
                                </th>
                                <th class="NumDays">
                                    <div class="date">2</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">3</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">
                                    <form name = "Calendar4" action="logActivity" method="post">
                                        <input type="hidden" name="SelectedDate" value="2021-12-4">
                                    <span onclick="Calendar4.submit()" class="clickableSpan">4</span>
                                    </form>
                                    </div>    					
                                </th>
                            </tr>

                            <tr class="Days">
                                <th class="NumDays">
                                    <div class="date">5</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">6</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">7</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">8</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">9</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">10</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">11</div>  					
                                </th>
                            </tr>
    
                            <tr class="Days">
                                <th class="NumDays">
                                    <div class="date">12</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">13</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">14</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">15</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">16</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">17</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">18</div>    					
                                </th>
                            </tr>
    
                            <tr class="Days">
                                <th class="NumDays">
                                    <div class="date">19</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">20</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">21</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">22</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">23</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">24</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">25</div>    					
                                </th>
                            </tr>
    
                            <tr class="Days">
                                <th class="NumDays">
                                    <div class="date">26</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">27</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">28</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">29</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">30</div>    					
                                </th>
                                <th class="NumDays">
                                    <div class="date">31</div>    					
                                </th>
                                <th class="NextMonthDays">
                                    <div class="date">1</div>    					
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="content2">
                <div class="SuggestionContentBox">
                    <div class="SuggestionHeader">
                        Try These!
                    </div>
    
                    <div class="Checklist">
                        <br>
                        <div>
                            <input type="textbox" placeholder="Not eating 686 candy  bars a day" size=35%>
                        </div>
                        <br>
                        <div>
                            <input type="textbox" placeholder="Bog snorkling" size=35% float="fixed">
                        </div>
                    </div>
    
                    <div class="Button">
                        <br>
                        <button id="btn">More</button>
                    </div>
                </div>
            </div>
            
            <div class="footer">
            <%- include("Layouts/footer") -%>
            </div>
        </div>
    </div>
</body>
</html>