<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Css/styles.css">
    <title>Home</title>
</head>

<body>  
    <div class="pageContainer">
        <div class="content">
            <%- include("Partials/headerBar.ejs",{}) -%>
            <br>

            <div class="ProgressContentBox">
                <div class="headerBar progressHeader">
                    Progress
                </div>

                <div id="Context">
                    <%- include("Partials/progressContentForm.ejs",{}) -%>
                </div>
                
                <br>
                <br>
            </div>
            
            <div class="ActivityContentBox">
                <div class="headerBar progressHeader">                
                    Today's Activity
                </div>

                <div class="Checklist">
                    <br>
                    <div>
                        <input type="textbox" placeholder="Completed Task" size=35%>
                        <input type="checkbox" id="chck">
                    </div>
                    <br>
                    <div>
                        <input type="textbox" placeholder="Uncompleted Task" size=35%>
                        <input type="checkbox" id="chck">
                    </div>
                    <br>
                    <button class="btn">Edit</button>
                </div>            
            </div>

            <div class="CurrentContentBox">
                <div class="headerBar progressHeader">
                    Current Stats
                </div>
                
                <div class="ProgressContent">
                    <div class="Content1">
                        <%- include("Partials/statsContentForm.ejs",{}) -%>
                    </div>
                </div>
            </div>
            
            <div class="CalendarContentBox">
                <div class="CalendarHeader">
                    December 2021
                </div>

                <div class="CalendarContext"> 
                    <div id="Calendar">
                        <ul class="WeekDays">
                            <li>Sun</li>
                            <li>Mon</li>
                            <li>Tues</li>
                            <li>Wed</li>
                            <li>Thur</li>
                            <li>Fri</li>
                            <li>Sat</li>
                        </ul>

                        <ul class="Days">
                            <li class="PrevMonthDays">
                                <div class="Date">28</div>
                            </li>
                            <li class="PrevMonthDays">
                                <div class="Date">29</div>
                            </li>
                            <li class="PrevMonthDays">
                                <div class="Date">30</div>
                            </li>
                            <li class="NumDays">
                                <div class="Date">1</div>
                            </li>
                            <li class="NumDays">
                                <div class="date">2</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">3</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">4</div>    					
                            </li>
                        </ul>

                        <ul class="Days">
                            <li class="NumDays">
                                <div class="date">5</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">6</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">7</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">8</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">9</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">10</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">11</div>  					
                            </li>
                        </ul>

                        <ul class="Days">
                            <li class="NumDays">
                                <div class="date">12</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">13</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">14</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">15</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">16</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">17</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">18</div>    					
                            </li>
                        </ul>

                        <ul class="Days">
                            <li class="NumDays">
                                <div class="date">19</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">20</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">21</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">22</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">23</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">24</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">25</div>    					
                            </li>
                        </ul>

                        <ul class="Days">
                            <li class="NumDays">
                                <div class="date">26</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">27</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">28</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">29</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">30</div>    					
                            </li>
                            <li class="NumDays">
                                <div class="date">31</div>    					
                            </li>
                            <li class="NextMonthDays">
                                <div class="date">1</div>    					
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="content2">
                <div class="SuggestionContentBox">
                    <div class="headerBar progressHeader">
                        Try These!
                    </div>
                    <%- include("Partials/tryThese.ejs",activsList) -%>
                </div>
            </div>
        </div>
    </div>
</body>
</html>