<!DOCTYPE html>
<header>
    <meta charset="UTF-8">
    <title>Login</title>
</header>
<body>
    <div id="LoginSignup">
        <div id="LoginSignupHeader">
            Log In
        </div>
        <form action="/index.html">
            <input type="text" name="LoginUsername" id="LoginUsername" placeholder="Username"> <br>
            <input type="text" name="LoginPassword" id="LoginPassword" placeholder="Password"> <br>
            <button type="submit">Log In</button>
        </form>
        <div id="LoginSignupHeader">
            Sign Up
        </div>
        <form action="/index.html">
            <input type="text" name="SignupUsername" id="SignupUsername" placeholder="Username"> <br>
            <input type="text" name="SignupEmail" id="SignupEmail" placeholder="Email"> <br>
            <input type="text" name="SignupPassword" id="SignupPassword" placeholder="Password"> <br>
            <input type="text" name="SignupConfirmPassword" id="SignupConfirmPassword" placeholder="Confirm Password"> <br>
            <button>Sign Up</button>
        </form>
    </div>
</body>